.wrap.speechy {
	max-width: 1170px;
	clear: both;
}

.wrap.speechy h2 {
	font-size: 1.7em;
}

.wrap.speechy h3 {
	font-size: 1.4em;
}

.wrap.speechy h4 {
	font-size: 1.2em;
}

.wrap.speechy ul li {
	list-style-type: circle;
	margin: 0 0 0 20px;
}
   
#speechy_licence_form {
		
}
	
#speechy_licence_form label {
	display: block;
	margin: 10px 0
}
	
#speechy_id_key, #speechy_secret_key {
	width: 600px;
}
	
#speechy-update-information td h4 {
	display: none;
}

.speechy_block_left {
	
	float: left;
}

.speechy_block_right {
	width: 28%;
	float: left;
	margin: 0 0 0 15px;
}

.seventy {
	width: 70%;
}

.thirty {
	width: 28%;
}

.fifty {
	width: 45%;
}

.speechy_block_how_to,
.speechy_block_contact_me {
	margin: 0 0 20px 0;
	border-bottom: 1px solid gray;
}

.speechy_block_how_to {
	
}

.speechy_block_contact_me {
	
}

.speechy_block_how_to h4 {
	margin: 0;
}

.speechy_block_how_to p {
	margin-top: 0;
}

.table, 
.table th, 
.table td {
	border: 1px solid #000;
	font-size: 20px;
}

.table th,
.table td {
	padding: 10px;
	vertical-align: top;
}

.table td span,
.speechy .speechy_block_left h3 span {
	font-size: 30px;
}

.player_settings input[type=radio] {
	vertical-align: top;
}
.player_settings td {
	padding: 10px;
	vertical-align: top;
}

.limit_notice, #updated-msg p {
    max-width: 100%;
    text-align: center;
    margin: 10px 0;
	padding: 10px;
	font-size: 16px;
}

.none {
	
}

.orange {
	color: orange;
}

.red {
	color: red;
}

.green {
	color: green;
}

.limit_notice {
	margin: 20px;
}

.limit_notice.orange {
	border: 1px solid orange;
}

.limit_notice.red {
	border: 1px solid red;
}

#updated-msg p {
	border: 1px solid green;
	color: green;
	display: block;
}

#speechy_player_settings {
	
}

#speechy_player_settings label {
    display: block;
	margin: 0;
    font-size: 1.2em;
    font-weight: 500;
	width: 250px;
}

#speechy_player_settings .delete_player_bg_image,
#speechy_player_settings .delete_player_logo {
	color: red;
    font-weight: 600;
    margin: 5px 0 0 15px;
    display: inline-block;
	cursor: pointer;
}

/* boxes in post */

#speechy-post-class label {
	font-weight: 700;
	display: block;
	margin: 0 0 5px 0;
}

/* popup iframe */

#TB_iframeContent {
	height: 650px !important;
}

.iframe_block {
	display: none;
	position: fixed;
	top: 80px;
	left: 30%;
	width: 650px;
	height: 80%;
	border-radius: 4px;
    border: 1px solid #DDD;
    padding: 10px;
    background: #fff;
}

.signup_iframe {
	position:relative;
	width: 650px;
	height: 100%;
}

.show.signup_iframe {
	display: block;
	width: 500px;
	height: 650px;
	
}

.close_iframe {
	float: right;
    margin: 10px 10px 20px 0;
    font-size: 1.2em;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
}

.close_iframe span {
	border: 1px solid #333;
    border-radius: 50px;
    background: #DDD;
    font-size: 1em;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0 0 2px 0;
    color: #FFF;
    background: #333;
}

/* ** Responsive ** */

@media only screen and (max-device-width : 1268px) {
	#speechy_id_key, #speechy_secret_key {
		width: 100%;
	}
	
	.speechy_block_left,
	.speechy_block_right	{
		width: 50%;
	}
}

@media only screen and (max-device-width : 768px) {
	
	.speechy_block_left,
	.speechy_block_right	{
		width: 100%;
		float: none;
	}
	
	.iframe_block {
		left: 5px;
		top: 30px;
		width: 90%;
	}
	
	.signup_iframe {
		height: 100%;
		width: 100%;
	}
	
	#TB_iframeContent {
		width: 400px !important;
		height: 650px !important;
	}
	
	#TB_window {
		width: 100% !important;
		margin-left: -200px !important;
	}

}