
.single .speechy_mp3 {
	padding: 10px;
	margin: 10px 0;
	border: 1px dotted #ddd;
	background: #FFF;
}

.single .speechy_mp3 span {
	font-weight: bold;
}

.single .speechy_mp3 .mejs-container {
	margin-bottom: 0 !important;
}
.single .speechy_mp3 .download_link {
	text-align: right;
	padding: 0;
	font-size: 0.8em;
	background: url(../images/download-link.png);
    background-position: 87% center;
    background-size: 20px;
    background-repeat: no-repeat;
}

.single .fixed_up {
	position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    width: 100%;
	padding: 0;
    border: 0 !important;
}

.single .fixed_wpadminbar {
	top: 32px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.remove {
	display: none !important;
}

.mejs-container {
	width: 100% !important;
}

.pricing {
	border: 1px solid #000;
	border-right: 0;
	text-align: center;
	padding: 0 !important;
	margin: 10px 0;
}

.pricing:last-child {
	border-right: 1px solid #000;
}

.label.pricing {
	font-weight: 700;
	text-align: left;
}

.pricing .pricing_title {
	background: #3994b7; 
	font-size: 18px;
	padding: 10px;
	border-bottom: 1px solid #DDD;
	color: #FFF;
}

.pricing .pricing_value {
	background: #3994b7; 
	color: #F9F167;
	padding: 10px;
	border-bottom: 1px solid #DDD;
}

.pricing .pricing_value span {
	font-size: 28px;
}

.pricing .pricing_text { 
	padding: 10px;
	border-bottom: 1px solid #DDD;
	height: 100px;
}

.pricing .pricing_feature { 
	padding: 10px;
	border-bottom: 1px solid #DDD;
	height: 50px;
}

.pricing .pricing_feature span { 
	font-size: 18px;
}

@media only screen and (max-width: 767px){
	.single .speechy_mp3 {
		padding: 0;
		margin: 0;
		max-height: 90px;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	
	.single .speechy_mp3 span {
		
	}

	.single .speechy_mp3 .powered_by {
		margin: 0 10px 0 0;
	}
	
	.single .speechy_mp3 .download_link {
		text-align: right;
		padding: 0;
		font-size: 0.8em;
	}
	
	#pricing-page-wrapper .label {
		display: none;
	}
	
	.pricing {
	border-right: 1px solid #000;
	}
	
	
}

